<!DOCTYPE html>
<script src="/knockout.js"></script>
<script src="/axios.js"></script>
<link rel="stylesheet" href="/static/style/style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
       <div class="card">
        <header>
            <div class="menu">
                <h1>Camadas OSI</h1>
            </div>
        </header>
        <label for="input">Digite um texto</label>
        <input type="text" id="input" data-bind="value: input" class="input"/>
        <button data-bind="click: enviaDados" class="button">Chamar</button>
        <!-- ko if: result -->
        <ul class="list">
            <li class="item" data-bind="text: 'Aplicação: ' + result()[7]['message']"></li>
            <li class="item" data-bind="text: 'Apresentação: ' + result()[6]['message']"></li>
            <li class="item" data-bind="text: 'Sessão: ' + result()[5]['message']"></li>
            <li class="item" data-bind="text: 'Transporte: ' + result()[4]['message']"></li>
            <li class="item" data-bind="text: 'Rede: ' + result()[3]['message']"></li>
            <li class="item" data-bind="text: 'Enlace: ' + result()[2]['message']"></li>
            <li class="item" data-bind="text: 'Física: ' + result()[1]['bits']"></li>
        </ul>
        <!-- /ko -->
    </div>
</body>
</html>

<script>
    var ViewModel = function() {
        var self = this;
        self.input = ko.observable();
        self.result = ko.observable(null);
        self.enviaDados = function() {
            axios.post('/', { text: self.input() }).then(function(response) {
                self.result(response.data);
            })
        };
    };

    var vm = new ViewModel();
    ko.applyBindings(vm);
</script>
