* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
.button {
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

.input {
    border: none;
    padding: 5px;
    background-color: #1a1a1a;
    color: #aaa;
}

label {
    color: #aaa;
}

body {
    background-color: #222;
}

.card {
    margin-left: 5vw;
    width: 90vw;
    margin-top: 5vh;
    height: 90vh;
    background-color: #2e2e2e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
}

.list {
    list-style: none;
    margin-top: 10px;
}

.item {
    padding: 10px 20px 10px 20px;
    background-color: #111;
    width: 30vw;
    color: #aaa;
    margin-top: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.item:hover {
    background-color: #000;
}
.menu {
    height: 40px;
    width: 100%;
    background-color: #00b8d4;
    margin-bottom: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}
.menu h1{
    text-align: center;
    color: white;
}
